body { 
	margin: 0;
	background-color: #233445;
}
.site {
	margin: 0 auto;
	width: 100vh;
	height: auto;
	font-size: 50px;
	position: relative;
}
.pop-up {
	max-height: 1000px;
	max-width: 670px;
	box-shadow: 0 10px 60px rgba(219, 225, 237, 0.3);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, .9);
	position: fixed;
	overflow: auto;
	top: 5vh;
	bottom: 5vh;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
header {
	margin-bottom: 0;
}
header input {
	float: right;
	margin-top: 32px;
	margin-right: 31px;
	display: inline;
}
.clearfix {
	clear: right;
}
.pop-up_image {
	
	margin-top: 16%;
	margin-bottom: 0;
	text-align: center;
}
.pop-up_text h2 {
	margin: 9% auto 0;
	width: 350px;
	height: 35px;
	font-size: 36px;
	font-weight: 400;
	line-height: 30px;
}
.pop-up_text p {
	margin: 3.2% auto 0;
	width: 291px;
	height: 73px;
	color: #979fae;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
}
.pop-up_button {
	margin-top: 4.3%;
	text-align: center;
}